/**
 * Titles
 */

.release-date {
     font-weight: bold;
}

ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

/**
 * Controls
 */

.input-text {
    margin-left: 29px;
    max-width: 320px;
}

input[type=radio] {
    margin: 10px 10px 10px 0px;
}

#button-copy-rule-set {
    display: none;
    padding: 5px;
    margin-left: 29px;
    width: calc(100% - 29px);
    font-size: 1.3em;
}

#generated-rules {
    display: none;
    margin-left: 29px;
    width: calc(100% - 29px);
}
